@media (min-width: 550px) {
    .container {
        max-width: 550px;
        margin-inline: auto;
    }
    .section-title {
        max-width: 380px;
    }
    .project-list {
        column-count: 2;
        column-gap: 25px;
    }
    .project-list>li:first-child {
        column-span: all;
    }
}

@media (min-width: 768px) {
    .container {
        max-width: 720px;
    }
    .section-title {
        max-width: 430px;
    }
    .btn-group {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 20px;
    }
    .hero-content {
        margin-top: 0px;
    }
    .about .btn {
        max-width: max-content;
    }
    .about .btn-secondary {
        margin-bottom: 0;
    }
    .contact-form {
        max-width: 450px;
        margin-inline: auto;
    }
    .footer .container {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
}

@media (min-width: 992px) {
    :root {
        --fs-2: 3rem;
        --section-padding: 100px;
    }
    .container {
        max-width: 980px;
    }
    .section-content {
        position: relative;
        padding-left: 40px;
    }
    .section-subtitle {
        position: absolute;
        top: 0;
        left: 0;
        transform: rotate(0.75turn) translateX(-100%);
        transform-origin: left top;
        margin-bottom: 0;
    }
    .section-subtitle::after {
        top: 8px;
        left: auto;
        right: calc(100% + 20px);
    }
    .header {
        padding-block: 30px;
    }
    .header.active {
        padding-block: 15px;
    }
    .navbar-actions {
        order: 1;
        margin-left: 0;
    }
    .nav-toggle-btn {
        display: none;
    }
    .navbar {
        all: unset;
    }
    .navbar-link {
        transform: translateY(0);
        font-size: unset;
        padding-inline: 5px;
    }
    .navbar-list>li {
        margin: 0;
        padding: 0;
        overflow: visible;
    }
    .navbar-list {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }
    .navbar-link::before {
        height: 2px;
    }
    .hero {
        position: relative;
        padding-top: 0;
        height: 100vh;
    }
    .hero-banner {
        max-width: unset;
        height: 100%;
        margin-bottom: 0;
    }
    .hero img {
        height: 100%;
        width: auto;
        margin-inline: auto;
    }
    .hero-content {
        --color-primary: var(--white);
        position: absolute;
        top: 50%;
        margin-top: 10%;
        filter: drop-shadow(2px 4px 10px var(--black));
    }
    .hero .btn-primary:is(:hover, :focus) {
        color: hsl(0, 0%, 12%);
    }
    .about {
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
        gap: 30px;
    }
    .about-banner {
        margin-bottom: 0;
    }
    .skills {
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
        gap: 50px;
    }
    .skills-content {
        margin-bottom: 0;
    }
    .skills-toggle {
        margin-inline: 0;
    }
    .project-list {
        column-count: 3;
    }
    .project-list>li:first-child {
        column-span: unset;
        margin: 25px;
        margin-left: 0;
    }
    .contact {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 30px;
    }
    .contact-content {
        margin-bottom: 0;
    }
    .contact-form {
        width: 100%;
    }
    .contact-list {
        margin-left: -40px;
    }
    .footer .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .footer .logo {
        margin-bottom: 0;
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 1150px;
    }
    .section-title {
        max-width: 460px;
    }
    .about-banner {
        max-width: 450px;
    }
}